@{
    ViewData["Title"] = "Home Page";
}
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
    if (User.Identity.Name == "admin@profspec.ru")
    {
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Добавление аккаунта сотрудника</a>
    }
    else if (User.Identity.Name == "hr@profspec.ru")
    {
        <p>Интерфейс HR специалиста</p>
    }
    else
    {
        <p>Интерфейс сотрудника</p>
    }
}
else
{
    <div class="text-center">
        <h1 class="display-4">Платформа переквалификации сотрудников </h1>
        <p>Для работы в системе авторизуйтесь</p>
    </div>
}

